<% require 'embedly' %>
<% require 'mechanize' %>
<% @articles.each do |article| %>
    <ul class="thumbnails">
      <li class="span12">
        <% embedly_api = Embedly::API.new :key => '8a3c9238c6504b64816fcfc54fc2fa89', :user_agent => 'Mozilla/5.0 (compatible; mytestapp/1.0; asampat3090@gmail.com)' %>
        <%   obj = embedly_api.oembed(url: article.url, maxwidth: 450, wmode: 'transparent', method: 'after')  %>

        <a href=<%=article.url%> class="thumbnail" target="_blank">
            <h2><%= obj[0].title%></h2>
			<% if article.created_at != nil %>
            	<h4 class="text-center"><%=(article.created_at + Time.zone_offset('PST')).strftime("%m/%d/%Y at %I:%M%p")%></h4>
			<%end%>
			<% if obj[0].provider_url != nil%>
				<% img_url = obj[0].provider_url + "/favicon.ico" %>
				<% agent = Mechanize.new %>
            	<%# res = agent.get(URI.parse(img_url)) %>
            	<% res = Net::HTTP.get_response(URI.parse(img_url)) %>
            	<% img_url = '' unless res.code.to_i >= 200 && res.code.to_i < 400 #good codes will be betweem 200 - 399 %>
            	<% if img_url != '' %>
                	<h4 class="text-center"> <%= image_tag img_url, alt: "provider favicon", size: "64x64" %></h4>
            	<% end %>
            	<% if obj[0].thumbnail_url != nil %>
                	<%= image_tag obj[0].thumbnail_url, alt: obj[0].title %>
            	<% end %>
			<% end %>
            <br/>
            <p><%= obj[0].description %> </p>
        </a>
      </li>
    </ul>
<% end %>



