<%= load_blog_feed%>

<% @blog_posts.each do |entry| %>
<div>
  <a href=<%=entry.url%>><h3 class = "blog"> <%= entry.title %> </h3></a>
  <h4><%=entry.published.strftime("%m/%d/%Y at %I:%M%p")%></h6>
  <br />
  <!-- Twitter Share Button -->
  <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <!-- end Twitter Share Button -->
  <p>
    <%= simple_format entry.content.html_safe %>
  </p>
  <br />
  <% entry.categories.each do |category| %>
  <%= category %>,
  <% end %>
</div>
<% end %>
