<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar">
    <div class="navbar-inner">

      <%= link_to image_tag("homepage/anand_logo.png", alt: "personal logo", size: "125x45"), '#', id: "logo" %>
      <ul class="nav pull-right">
        <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
        <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About", about_path %></li>
        <li class="<%= 'active' if current_page?(projects_path) %>"><%= link_to "Projects", projects_path %></li>
        <li class="<%= 'active' if current_page?(reading_path) %>"><%=  link_to "Current Reading", reading_path %></li>
        <li class="<%= 'active' if current_page?(contact_path) %>"><%= link_to "Contact Me", contact_path %></li>
        <li class="<%= 'active' if current_page?(blog_path) %>"><%= link_to "Blog", blog_path %></li>
      </ul>
    </div>
  </div>
</header>

